.container_header{
    padding:0;
    margin:0;
    width: auto;
    height:90px;
    background-color: #ffffff;
}
.navigation{
    display:flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    width: 1200px;
    height:90px;
    padding-left: 20px; 
    padding-right: 20px;
    margin: 0 auto; 
    box-sizing: border-box; 
}
.logo{
    padding-left: 0;
}
.navigation_list{
    display:flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    height: 50px;
    padding-top: 0;
    padding-left: 0;
    list-style: none;
    gap: 32px;
}
.navigation__list_title{
    text-decoration: none;
    color: #1B1A1A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    cursor: pointer;
}
.navigation_button{
    background-color: #1B1A1A;
    color: #ffffff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    border-radius: 14px;
    height: 46px;
    width: 155px;
    cursor: pointer;
}
.container_main1{
    background-color: #ECE7E4;
    width: auto;
    height: 720px;
    top: 90px;
    opacity: 1;
    display: flex; 
    align-items: center;
}
.text_content{
    flex: 1;
    padding-right: 20px;
    height:566px;
    width:509px;
    padding-left: 60px;
    padding-top: 77px;
}
.main_title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.brand{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding: 0;
    padding-top: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 2px;
}
.description{
    margin:0;
    padding: 0;
    color: #403E3B;
    padding-top: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 509;
    height: 120;
    top: 330px;
    left: 40px;
    opacity: 1;
    letter-spacing: 0.4px;
}
.read_more_container {
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-left: 30px; 
}

.read_more {
    text-decoration: none;
    color: #1B1A1A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.trees{
    position: absolute;
    right: 0; 
    top: 0;  
    padding-top: 98px;
    padding-left: 0;
    width: 720px;
    height: 720px;
}
.container_main2{
    background-color: #ffffff;
    width: auto;
    height: 780px;
    top: 90px;
    opacity: 1;
    display: flex; 
    align-items: center;
    padding-left: 336px;
}
.text_content2{
    width:768px;
    display: flex;
    flex-wrap: wrap;
}
.title_page2{
    padding:0;
    margin:0;
    padding-left: 0;
    padding-top: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 2%;
    color: #403E3B;
}
.paragraphs{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    padding-left: 132px;
    padding-top: 0px;
    color: #403E3B;
}
.human{
    display: flex;
    flex-wrap: wrap;
}
.human_name{
    padding-top:15px;
    width:196px;
    height:100px;
    padding-left: 0;
}
.human_name1{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0%;
    padding-left: 30px;
    color:#1B1A1A;
}
.human_name2{
    margin:0;
    padding: 0;
    padding-top: 4px;
    color: #645C55;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    padding-left: 30px;
}
.container_main3 {
    display: flex;             
    align-items: center;       
    justify-content: flex-end;  
    width: 100%;              
    height: 600px;  
    padding-right: 30px;          
    position: relative;        
}

.text_content3 {
    padding-left: 1080px;
    width: 40%;            
    text-align: left;     
    padding-right: 20px;     
    z-index: 1;             
}

.title_container_main3 {
    padding-top: 266px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.paragraph_main3 {
    margin: 0;
    padding: 0;
    color: #645C55;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.background_main3 {
  width: auto;  
  height: 100%;       
  position: absolute;  
  left: 0;                 
  top: 0;                  
  object-fit: cover;       
  z-index: 0;      
  padding-left: 35px;
}
.container_main4 {
    height: 580px;
    width: 100%;
}

.text_with_images {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
}
.text_content_top{
    padding: 0;
    margin:0;
}
.our_process{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.title_page4{
    margin:0;
    padding:0;
    padding-top: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    color:#1B1A1A;
}
.list_main4{
    padding-top: 47px;
}
.image_list {
    padding-top: 47px;
    display: flex;
    justify-content: space-around;
    list-style: none;        
    padding: 0;     
    margin: 0;
    gap: 200px;  
}

.image_item {
  text-align: center;
}

.image_item img {
  max-width: 100%;
  height: auto;
}
.title_image_main4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color:#403E3B;
}
.paragraph_image_main4{
    color:#645C55;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.container_main5 {
    display: flex;             
    align-items: center;       
    justify-content: flex-end;  
    width: 100%;              
    height: 600px;  
    padding-right: 30px;          
    position: relative;        
}

.text_content5 {
    padding-left: 1080px;
    width: 40%;            
    text-align: left;     
    padding-right: 20px;     
    z-index: 1;             
}

.title_container_main5 {
    padding-top: 266px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.paragraph_main5 {
    margin: 0;
    padding: 0;
    color: #645C55;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.background_main5 {
  width: auto;  
  height: 100%;       
  position: absolute;  
  left: 0;                 
  top: 0;                  
  object-fit: cover;       
  z-index: 0;      
  padding-left: 35px;
}
.container_main6 {
    background-color: #403E3B;
    display: flex;  
    align-items:center;
    width: auto; 
    height: 410px;
}

.content_main6 {
    display: flex;                 
    justify-content: space-evenly;  
    width: 1168px;
    align-items: center;
    padding-left: 136px;
}

.text_content_main6 {
    flex: 1;                 
    text-align: left;  
    max-width: 50%; 
    padding-right: 136px;
}
.logo-container {
    display: flex;  
    flex-wrap: wrap;  
    width: 400px;          
    height: 290px;     
    justify-content: space-around; 
    align-items: center; 
    padding-top: 60px;
    margin-top: -30px; 
}

.logo_item {
    width: 45%;           
    height: auto;            
}
.logo_item img {
    max-width: 100%;   
    max-height: 100%;   
}

.prior {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#ECE7E4;
}

.title_main6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    color:#FFFFFF;
}

.paragraph_main6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #ECE7E4;
}

.container_main7 {
    display: flex;             
    align-items: center;       
    justify-content: flex-start;  
    width: 100%;              
    height: 600px;  
    padding-left: 30px;          
    position: relative;        
}

.text_content7 {
    padding-left: 80px;
    width: 40%;            
    text-align: left;     
    padding-right: 20px;     
    z-index: 1;             
}

.title_container_main7 {
    padding-top: 266px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.paragraph_main7 {
    margin: 0;
    padding: 0;
    color: #645C55;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.background_main7 {
  width: auto;  
  height: 100%;       
  position: absolute;  
  left: 0;                 
  top: 0;                  
  object-fit: cover;       
  z-index: 0;      
  padding-left: 35px;
}
.container_main8{
    width:auto;
    height:918px;
    background-color: #F7F7F7;
    justify-content: center;
}
.content_main8{
    width:1200px;
    height:698px;
    padding-top: 120px;
    padding-left:157px;
}
.text_content_main8{
    padding: 0;
    margin:0;
}
.title_main8{
    padding: 0;
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    line-height: 42px;
    letter-spacing: 0%;
    color:#1B1A1A;
}
.paragraph_main8{
    padding: 0;
    margin:0;
    color:#645C55;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-top: 15px;
}

.img_container_main8{
    padding-top: 42px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    z-index: 0;
}
.img_main8:nth-child(2) {
    position: relative;        
}
.text_on_img_main8{
    position: absolute;        
    top: 40px;                 
    left: 40px;               
    text-align: left; 
}
.title_on_img_main8{
    margin: 0;
    padding:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;

}
.parag_on_img_main8{
    padding: 0;
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0%;
    color:#403E3B;
}
.button_main8{
    position: absolute;
  padding-top: 280px; 
  left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
.read_more_main8{
    z-index: 1;
    text-align: center;
    width:133px;
    height:46px;
    border-radius: 14px;
    background-color: #1B1A1A;
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.link{
    padding: 0;
    margin: 0;
    padding-top: 51px;
    display: flex;
    justify-content: center;
}
.view_proj{
    color: #1B1A1A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none;
}
